@use "../libraries/bootstrap/scss/functions";
@use "../libraries/bootstrap/scss/variables";
@use "../libraries/bootstrap/scss/vendor/rfs";

//----------------------------------------------------------//
//	ALERTS
//----------------------------------------------------------//
.alert-dismissible {
  .btn-close {
    position: absolute !important;
    top: 0;
    right: 0;
    z-index: variables.$stretched-link-z-index + 1;
    padding: variables.$alert-padding-y * 1.05 variables.$alert-padding-x;
    &:before {
      background: none;
      @include rfs.font-size(1.2rem);
      width: 1.2rem;
      height: 1.2rem;
    }
    &:hover {
      &:before {
        background: none;
      }
    }
  }
  @each $color,
  $value in variables.$theme-colors {
    &.alert-#{$color} .btn-close {
      color: functions.shift-color($value, variables.$alert-color-scale - 20);
    }
    &.alert-#{$color} .btn-close:hover {
      color: functions.shift-color($value, variables.$alert-color-scale + 10);
    }
  }
}
.alert-icon {
  padding-left: variables.$alert-padding-x * 2.5;
  // Adjust close link position
  i {
    position: absolute;
    top: 0;
    left: 0;
    z-index: variables.$stretched-link-z-index + 1;
    padding: 0.8rem variables.$alert-padding-x;
    @include rfs.font-size(1rem);
  }
}
// scss-docs-start alert-modifiers
// Generate contextual modifier classes for colorizing the alert.
@each $state,
$value in variables.$theme-colors {
  $background: functions.shift-color($value, variables.$alert-bg-scale);
  $border: functions.shift-color($value, variables.$alert-border-scale);
  $color: functions.shift-color($value, variables.$alert-color-scale);
}
.alert[class*="bg-"] {
  padding: 0.8rem 0;
  .alert-inner {
    padding-right: 3rem;
  }
  &.alert-dismissible {
    .btn-close {
      padding-top: 0;
      padding-bottom: 0;
      top: 50%;
      transform: translateY(-50%);
      color: rgba(variables.$white, 0.8);
    }
    .btn-close:hover {
      color: variables.$white;
    }
  }
}
@media (max-width: 767px) {
  .alert[class*="bg-"].alert-dismissible .btn-close {
    padding-right: 0.5rem;
  }
}
