@use "../libraries/bootstrap/scss/mixins/transition";
@use "../libraries/bootstrap/scss/variables" as scss-variables;
@use "../libraries/bootstrap/scss/vendor/rfs";
@use "../variables";

//----------------------------------------------------------//
//	CLOSE BUTTON
//----------------------------------------------------------//
.btn-close {
  padding: scss-variables.$btn-close-padding-y scss-variables.$btn-close-padding-x;
  color: scss-variables.$btn-close-color;
  background: none;
  border: 0;
  line-height: 1;
  @include transition.transition(scss-variables.$btn-transition);
  &:before {
    background: scss-variables.$btn-close-bg;
    font-family: variables.$font-family-unicons;
    @include rfs.font-size(variables.$btn-close-font-size);
    content: variables.$icon-close;
    width: scss-variables.$btn-close-width;
    height: scss-variables.$btn-close-height;
    line-height: scss-variables.$btn-close-height;
    border-radius: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none;
    transition: background 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:hover {
    color: variables.$btn-close-hover-color;
    text-decoration: none;
    &:before {
      background: variables.$btn-close-hover-bg;
    }
  }
  &:focus {
    outline: none;
  }
  &:disabled,
  &.disabled {
    pointer-events: none;
    user-select: none;
    opacity: scss-variables.$btn-close-disabled-opacity;
  }
}
.btn-close-white {
  color: variables.$btn-close-light-color;
  &:before {
    background: variables.$btn-close-light-bg;
  }
  &:hover {
    color: variables.$btn-close-light-hover-color;
    &:before {
      background: variables.$btn-close-light-hover-bg;
    }
  }
}
.modal .btn-close {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
}