@use "../libraries/bootstrap/scss/variables" as scss-variables;
@use "../variables";

//----------------------------------------------------------//
//	COLORED LINKS
//----------------------------------------------------------//
@each $color,
$value in variables.$link-colors {
  .link-#{$color} {
    color: $value;
    @if scss-variables.$link-shade-percentage !=0 {
      &:hover,
      &:focus {
        color: $value;
      }
    }
  }
}
.link-dark {
  color: variables.$main-dark;
}