@use "../libraries/bootstrap/scss/variables";
@use "../libraries/bootstrap/scss/vendor/rfs";

//----------------------------------------------------------//
//	COUNTER
//----------------------------------------------------------//
.counter-wrapper {
  p {
    margin-bottom: 0;
    @include rfs.font-size(variables.$font-size-base);
    font-weight: variables.$font-weight-base;
  }
  .counter {
    @include rfs.font-size(2rem);
    letter-spacing: normal;
    line-height: 1;
    margin-bottom: 0.5rem;
    &.counter-lg {
      @include rfs.font-size(2.2rem);
    }
  }
  .card-body {
    padding: 1.5rem;
  }
  .icon-bg {
    margin: 0 auto;
  }
}