@use "../libraries/bootstrap/scss/variables" as scss-variables;
@use "../libraries/bootstrap/scss/vendor/rfs";
@use "../variables";

//----------------------------------------------------------//
//	PAGINATION
//----------------------------------------------------------//
.pagination {
  box-shadow: scss-variables.$box-shadow;
  .page-link {
    width: variables.$pagination-size;
    height: variables.$pagination-size;
    @include rfs.font-size(scss-variables.$pagination-font-size);
    font-weight: variables.$pagination-font-weight;
    display: flex;
    justify-content: center;
    align-items: center;
  
    i {
      @include rfs.font-size(variables.$pagination-icon-font-size);
    }
  }
  &.pagination-alt {
    box-shadow: none;
    .page-item {
      margin-right: 0.5rem;
      .page-link {
        border: 0;
        border-radius: scss-variables.$border-radius !important;
        box-shadow: scss-variables.$box-shadow-lg;
      }
    }
  }
}
