@use "sass:map";
@use "../libraries/bootstrap/scss/functions";
@use "../libraries/bootstrap/scss/mixins/transition";
@use "../libraries/bootstrap/scss/variables" as scss-variables;
@use "../variables";

//----------------------------------------------------------//
//	PLYR
//----------------------------------------------------------//
video.player {
  max-width: 100%;
}
.plyr {
  border-radius: scss-variables.$border-radius;
  position: relative;
  z-index: 2;
}
.plyr__control--overlaid {
  border: 0;
  padding: 1.25rem;
  background: scss-variables.$white;
  box-shadow: scss-variables.$box-shadow;
  color: variables.$main-dark;
  opacity: 1;
  &:focus,
  &:hover {
    background: scss-variables.$white !important;
    color: variables.$main-color !important;
    box-shadow: scss-variables.$box-shadow;
    @include transition.transition(variables.$link-transition);
  }
}
.plyr--video .plyr__controls {
  background: linear-gradient(transparent, rgba(scss-variables.$gray-900, 0.2));
  .plyr__control {
    &.plyr__tab-focus,
    &:hover,
    &[aria-expanded="true"] {
      background: variables.$main-color;
    }
  }
}
.plyr--full-ui input[type="range"] {
  color: variables.$main-color;
}
.plyr__control--overlaid::before,
.plyr__control--overlaid::after,
.btn-circle.ripple::before,
.btn-circle.ripple::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background: scss-variables.$white;
  opacity: 0.8;
  animation: ripple-1 2s infinite ease-in-out;
  z-index: -1;
}
.plyr__control--overlaid::after,
.btn-circle.ripple::after {
  opacity: 0.6;
  animation: ripple-2 2s infinite ease-in-out;
  animation-delay: 0.5s;
}
@each $color,
$value in map.merge(variables.$button-colors,
  ("gray": scss-variables.$gray-400,
    "dark": variables.$main-dark,
  )) {
  .btn-#{$color}.btn-circle.ripple::before,
  .btn-#{$color}.btn-circle.ripple::after {
    background: $value;
  }
}
@each $color,
$value in variables.$button-soft-colors {
  .btn-soft-#{$color}.btn-circle.ripple::before,
  .btn-soft-#{$color}.btn-circle.ripple::after {
    background-color: functions.tint-color($value, variables.$bg-pale-level);
  }
}
