@use "../libraries/bootstrap/scss/variables";
@use "../libraries/bootstrap/scss/vendor/rfs";

//----------------------------------------------------------//
//	POPOVER
//----------------------------------------------------------//
.has-popover:focus {
	outline: 0;
}
.popover-header {
	padding: variables.$popover-header-padding-y variables.$popover-header-padding-x 0.25rem;
	border: 0;
	@include rfs.font-size(variables.$font-size-lg);
}
.popover-body {
	padding: 0 variables.$popover-body-padding-x variables.$popover-body-padding-y;
}