@use "../libraries/bootstrap/scss/functions";
@use "../libraries/bootstrap/scss/variables" as scss-variables;
@use "../variables";
@use "mixins";

//----------------------------------------------------------//
//	SHAPES
//----------------------------------------------------------//
.shape.rellax {
  position: absolute;
}
.shape.rellax {
  z-index: 1;
}
.position-relative .shape.rellax + figure {
  position: relative;
  z-index: 2;
}
.bg-dot,
.bg-line {
  opacity: 0.5;
}
.bg-dot {
  background-size: 0.75rem 0.75rem;
}
@each $color,
$value in scss-variables.$colors {
  .bg-dot.#{$color} {
    @include mixins.bg-dot-variant($value);
  }
}
@each $color,
$value in scss-variables.$colors {
  .bg-line.#{$color} {
    @include mixins.bg-line-variant($value);
  }
}
@media (max-width: 575.98px) {
  .shape {
    display: none;
  }
}
@each $color,
$value in scss-variables.$colors {
  .shape.#{$color} .svg-fill {
    fill: $value;
  }
  .shape.soft-#{$color} .svg-fill {
    fill: functions.tint-color($value, variables.$bg-soft-level);
  }
  .shape.pale-#{$color} .svg-fill {
    fill: functions.tint-color($value, variables.$bg-pale-level);
  }
}