@use "../libraries/bootstrap/scss/variables" as scss-variables;
@use "../libraries/bootstrap/scss/vendor/rfs";
@use "../variables";

//----------------------------------------------------------//
//	TOOLTIP
//----------------------------------------------------------//
.tooltip {
  font-weight: scss-variables.$font-weight-base;
  pointer-events: none;
}
.has-tooltip:focus {
  outline: 0;
}
.white-tooltip {
 margin-right: 0.25rem !important;
 &.bs-tooltip-start {
   .tooltip-arrow {
     &::before {
       border-left-color: scss-variables.$white;
     }
   }
 }
 .tooltip-inner {
    background: scss-variables.$white;
    color: variables.$main-dark;
    @include rfs.font-size(scss-variables.$tooltip-font-size - 0.1rem);
    padding-top: scss-variables.$tooltip-padding-y - 0.15rem;
    padding-bottom: scss-variables.$tooltip-padding-y - 0.15rem;
    padding-left: scss-variables.$tooltip-padding-x - 0.25rem;
    padding-right: scss-variables.$tooltip-padding-x - 0.25rem;
 }
}